* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	scroll-behavior: smooth;
}

body {
	/* font-family: roboto; */
	font-size: 16px;
	line-height: 1.2em;
	background-color: #ffffff;
	/* color: #424242; */
}

ul {
	list-style: none;
	overflow: hidden;
}

li {
	/* float: left; */
}

li a {
	/* display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; */
	text-decoration: none;
}
a:hover {
	opacity: 50%;
}
/* smallest size is 320px */

/* img,
embed,
object,
video {
	max-width: 100%;
} */

div {
	/* color: red; */
	/* height: 200px; */
	/* background-color: yellow; */
	/* width: 100%; */
	/* max-width: 100%; */
}

nav a,
button {
	min-height: 48px;
	min-width: 48px;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	border: none;
}

/* h1{
    font-size: 1.6em;
} */
/* h2{
    font-size: 1.6em;
} */
h3 {
	font-size: 1.6em;
	text-transform: capitalize;
	color: #1a1a1b;
	font-weight: 600;
}
h4 {
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: 600;
	color: #1a1a1b;
}
/* h5{
    font-size: 1.6em;
} */
h6 {
	font-size: 1em;
	text-transform: uppercase;
	line-height: 2.2em;
	color: #8d8d8d;
	font-weight: 600;
}
p {
	font-size: 1em;
	color: #8d8d8d;
	line-height: 1.4em;
	font-weight: 500;
}

.container {
	max-width: 1172px;
	margin: auto;
	background-color: aqua;

	padding: 50px 10px;
}

/* class whch is used often */
.flex-btw {
	display: flex;
	justify-content: space-between;
}

.cursor {
	cursor: pointer;
}

.none {
	display: none;
}
.show {
	display: block;
}
