header {
	height: 650px;
	width: 100%;
	background-color: blue;
	margin-bottom: 30px;
	border-bottom: solid 1px #707070;
}

nav {
	height: 80px;
	background: green;
	align-items: center;
}
.logo {
	width: 133px;
	height: 31px;
}
.nav_menu {
	width: 100%;
	max-width: 500px;
	height: 21px;
}
.nav_menu ul {
	/* display: flex;
	justify-content: space-between; */
}
.nav_menu ul li a {
	text-transform: uppercase;
	color: #303134;
	font-family: raleway;
	font-weight: 600;
}
.hamburger {
	display: none;
}
banner {
	height: auto;
	background-color: gold;
}
