@media screen and (max-width: 1024px) {
	p {
		color: red;
	}

	/* API */
	.divCointainer {
		width: calc(100% - 100px);
	}

	/* our service */
	.ourservice {
		height: auto;
	}
	.ourservice-container div {
		min-width: 300px;
	}
	.ourservice-container {
		height: auto;
		justify-content: space-around;
	}
}
