@media screen and (max-width: 400px) {
	banner {
		display: none;
	}
	header {
		height: 80px;
	}

	.acchive_container_main {
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	.acchive_container {
		width: 100%;
		height: auto;
	}
}
