@media screen and (max-width: 600px) {
	p {
		color: green;
	}
	.ourservice-main,
	.ourservice-title {
	}
	.ourservice-container div {
		min-width: 300px;
		width: calc(100% - 140px);
	}

	#lightbox p {
		line-height: 0.8em;
	}
	#lightbox h4 {
		font-size: 1.2em;
	}
}
